@media screen and (max-width: 960px) 
{
    .nav
    {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .nav_right
    {
       
    padding: 6px 0;
    flex-direction: column;
    text-align: center;

    }
    .nav_left
    {
        text-align: center;
        padding: 10px 0;
    }
    .form
    {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }   
    /* .content
    {
        /* height: auto; 
    }
    */
    
    .content_right 
    {
        display: none;
    }
}
